<h2 class="infowindow-h1"><%= weapon.address %></h2>

<div class="flexbox product-picture-index info-pic" style="background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.1) 40%), url(<%= asset_path(weapon.picture) %>);">
  <h1 class="info-h1 text-center"><%= weapon.name %></h1>
  <h2 class="info-h2"><%= weapon.price.to_i %>€</h2>
  <div class="owner-avatar">
    <%= link_to image_tag weapon.user.picture, :width => 50 %>
  </div>
</div>

<%= link_to weapon_path(weapon) do %>
  <div>
    <h3 class="btn btn-primary btn-center btn-margin">Details</h3>
  </div>
<% end %>
