<h1 class="text-center">All you need is here!</h1>


  <div class="card bg-orange text-center padded features">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <%= link_to image_tag "gun3.jpg" %>
        <h4>Soft and tender</h4>
        <p>Price per day:</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
       <%= link_to image_tag "gun3.jpg" %>
       <h4>No cash issues anymore</h4>
        <p>Price per day:</p>

      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
       <%= link_to image_tag "gun2.jpg" %>
        <h4>Nice people have one too</h4>
        <p>Price per day:</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <%= link_to image_tag "gun3.jpg" %>
        <h4>Share and love</h4>
        <p>Price per day:</p>
      </div>
    </div>
  </div>

  <div class="card bg-orange text-center padded features">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <%= link_to image_tag "gun1.jpg" %>
        <h4>Soft and tender</h4>
        <p>Price per day:</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
       <%= link_to image_tag "gun2.jpg" %>
       <h4>No cash issues anymore</h4>
        <p>Price per day:</p>

      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
       <%= link_to image_tag "gun3.jpg" %>
        <h4>Nice people have one too</h4>
        <p>Price per day:</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <%=  link_to image_tag "gun4.jpg" %>
        <h4>Share and love</h4>
        <p>Price per day:</p>
      </div>
    </div>
  </div>
