<div class="col-xs-3">
  <div class="container">
    <div><%= cl_image_tag @weapon.user.picture, height: 300, width: 300, crop: :fill %></div>
    <h1><%= @weapon.user.name %></h1>
    <h2 class="btn btn-primary">Contact</h2>
    <p><%= @weapon.user.description %></p>
  </div>
</div>


<div class="col-xs-9">
  <div class="container">
    <h1><%= @weapon.name %></h1>
    <h2 class="btn btn-primary"><%= @weapon.description %> per day</h2>
    <div><%= cl_image_tag @weapon.user.picture, height: 300, width: 700, crop: :fill %></div>
    <p><%= @weapon.description %></p>
    <h2 class="btn btn-primary">Book now</h2>
  </div>
</div>
