<div class="row">

  <div class="col-xs-4">
    <div class="user-box">
      <div class="flexbox">
        <%= link_to image_tag "gun2.jpg" %>
      </div>
      <h1 class="text-center"><%= @weapon.name %></h1>
      <h2 class="btn btn-primary btn-center btn-margin">Contact</h2>
      <p><%= @weapon.description %></p>
    </div>
  </div>

  <div class="col-xs-8">
    <div class="weapon-box">
      <h1 class="text-center"><%= @weapon.name %></h1>
      <h2 class="btn btn-danger"><%= @weapon.price %> per day</h2>
      <div class="flexbox product-picture">
        <%= link_to image_tag "gun2.jpg" %>
      </div>
      <p><%= @weapon.description %></p>
      <%= link_to "" do %>
        <div>
          <h2 class="btn btn-primary btn-center">Book Now</h2>
        </div>
      <% end %>

    </div>
  </div>

</div>
