<div class="row">

  <div class="col-xs-4">
    <div class="user-box">
      <div class="flexbox">
        <%= link_to image_tag @weapon.user.picture, :width => 200 %>
      </div>
      <h1 class="text-center"><%= @weapon.user.name %></h1>
      <h2 class="btn btn-primary btn-center btn-margin">Contact</h2>
      <p><%= @weapon.user.description %></p>
    </div>
  </div>

  <div class="col-xs-8">
    <div class="weapon-box">
      <div class="flexbox product-picture" style="background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.1) 40%), url(<%= asset_path(@weapon.picture) %>);">
        <h1 class="text-center"><%= @weapon.name %></h1>
        <h2><%= @weapon.price.to_i %>€</h2>
      </div>
      <p><%= @weapon.description %></p>

      <%= simple_form_for([@weapon, @booking], url: weapon_bookings_url(@weapon), html: { method: :post, class: "form-group text-center form-inline" }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :start_date_on, as: :string, input_html: { class: "date-picker", value: @from }, html: { class: "form-control" } %>
          <%= f.input :end_date_on, as: :string, input_html: { class: "date-picker", value: @to }, html: { class: "form-control" } %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Book it now !" %>
        </div>
      <% end %>

    </div>
  </div>

</div>
