<div id="content">
    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
        <li><%= link_to "My Profile", edit_user_registration_path(user: current_user) %></li>
        <li><%= link_to "My Babies", user_weapons_path(user: current_user) %></li>
        <li class="active"><a href="#yellow" data-toggle="tab">My Bookings</a></li>
    </ul>
    <div id="my-tab-content" class="tab-content">
      <div class="container">
        <div class="row">
          <% @bookings.each do |booking| %>
            <div class="col-xs-12 col-sm-4">
              <div class="weapon-box-index">
                <div class="flexbox product-picture-index" style="background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.1) 40%), url(<%= asset_path(booking.weapon.picture) %>);">
                  <h1 class="text-center"><%= booking.weapon.name %></h1>
                  <h2><%= booking.weapon.price.to_i %>€</h2>
                  <div class="owner-avatar">
                   <%= image_tag booking.user.picture, :width => 50 %>
                </div>
                </div>
                <p class="address"><%= booking.start_date_on %></p>
                <p class="address"><%= booking.end_date_on %></p>
                <%= link_to weapon_path(booking.weapon) do %>
                  <div>
                    <h3 class="btn btn-primary btn-center btn-margin">Details</h3>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-xs-6 col-sm-3 col-sm-offset-1">
      <%= link_to "Back", :back %>
    </div>
    <script type="text/javascript">
      jQuery(document).ready(function ($) {
          $('#tabs').tab();
      });
    </script>
</div>

